<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="by.itacademy.pvt">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name="by.itacademy.pvt.dz8.Dz8Activity">
            <!--android:name="by.itacademy.pvt.dz1.Dz1MenuActivity">-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="by.itacademy.pvt.dz0.Dz0MainActivity" />
        <activity android:name="by.itacademy.pvt.dz1.Dz1FlagsActivity" />
        <activity android:name="by.itacademy.pvt.dz2.Dz2LoginPassActivity" />
        <activity android:name="by.itacademy.pvt.dz2.Dz2Activity" />
        <activity android:name="by.itacademy.pvt.dz3.Dz3Activity" />
        <activity android:name="by.itacademy.pvt.dz4.Dz4Activity" />
        <activity android:name="by.itacademy.pvt.dz5.dz5_sova.Dz5SovaActivity" />
        <activity android:name="by.itacademy.pvt.dz5.Dz5Activity" />
        <activity android:name="by.itacademy.pvt.dz6.Dz6StudentListActivity" />
        <activity android:name="by.itacademy.pvt.dz6.Dz6StudentEditActivity" />
        <activity android:name="by.itacademy.pvt.dz6.Dz6StudentDetailsActivity" />
    </application>
</manifest>